*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-image: url(../images/fondophon.jpg);
    /*background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;*/
    animation: mov 50s infinite linear alternate;

}
@keyframes mov{
   from{
    background-position: bottom left ;
 }to{background-position: top right;
}
}
h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    color: gray;
    background-color: #141c2b;
}
.button:hover{
    background-color:#04b3fa ;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color:  #141c2b;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 1.6em;
    color: #04b3fa;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    color: rgb(247, 247, 247);
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    line-height: normal;
    font-size: 20px;
    transition: all 500ms ease;
    border: 4px solid transparent;
}
header a:hover{
    color:#04b3fa;
    border-bottom: 4px solid ;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: auto;
    
}
#hero .bot{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 0;
}

#nuestros-servicios{
    text-align: center
}
#nuestros-servicios .container{
    padding: 80px 12px;

}
#nuestros-servicios h2{
    margin-top: 0;
}

#nuestros-servicios p{
    display: none;
}
#nuestros-servicios .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: url(../images/tabletsBG.jpg);   
}
.carta:nth-child(2){
    background-image: url(../images/celusBG.jpg);
}
.carta:nth-child(3){
    background-image:url(../images/notebooksBG.jpg);
}
/*---------------------OPINIONES---------------------------------------*/
#nuestros-servicios .carta1{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    color: #04b3fa;
}
.carta1:first-child{
    background-image: url(../images/faceBG.jpg);    
}
.carta1:nth-child(2){
    background-image: url(../images/instaBG.jpg);
}
.carta1:nth-child(3){
    background-image:url(../images/wasaBG.jpg);
}
#caracteristicas .container{
    text-align: center;
}

/*---------------------------CONTACTO---------------------*/

.content{
    font-size: 30px;
}


.formulario form label {
    display: block;
}

.formulario form p {
    margin: 0;
    padding: 1em;
}

.formulario form .boton1 {
    grid-column: 1 / 3;
}

.formulario form button,
.formulario form input,
.formulario form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    font-size: 20px;
    color: rgb(29, 23, 55);
    border: 4px solid #04b3fa;
}
.formulario form button:hover,
.formulario form button:focus {
    background: #181430;
    color: rgb(7, 236, 7);
    transition: background-color 1s ease-out;
    outline: 0;
}
.formulario form button {
    background: #04b3fa;
    border: 0;
    padding: 1em;
}

/*-------------------------acerca de-------------------------*/
.link-ext{
    background-size: cover;
    padding: 0;
    margin: 0;
}

/*--------------------REDES SOCIALES----*/
.buttons {
    min-width: 100px;
    display: flex;
    justify-content: space-around;
}
  
.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #56b3e9;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

/*-----------------------------FOOOOOTER-------------------*/
.pie{
    color: rgb(49, 46, 46);
    background-color: rgb(150, 178, 255);
    text-align: center;
    
}

@media (min-width:720px){
    .dispositivos button{
        display: none;
    }
    .opiniones button{
        display: none;
    }
    header{
        position:fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;    
    }
    #nuestros-servicios .container{
        display: flex;
        justify-content: center;
    }
    #nuestros-servicios .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding:0px 30px ;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    #nuestros-servicios .img-container{
        background-image: url(../images/reparando.jpg);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }
    #nuestros-servicios  .dispositivos{
        display: flex;
        justify-content: center;
    }
    #nuestros-servicios p{
        display: block;
        margin-bottom: 30px;
    }
    #nuestros-servicios h3{
        margin-top: 0;
    }
    #nuestros-servicios .carta{
        padding: 50px;
    }
    .formulario form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #caracteristicas .tarjeta_com2 {
        padding-top: 15%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
   
    #hero{
        padding-top: 15%;
    }
    #hero .bot {
        gap: 15%;
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
    }    
}